POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
POSTGRES_HOST=localhost
POSTGRES_PORT=5440
# "disable" en local (Docker dev/test), "require" pour Neon en prod
POSTGRES_SSLMODE=disable

# Clé API-FOOTBALL (collecteur v2, ADR-0004). Ne jamais la committer.
API_FOOTBALL_KEY=
