# Environnements
.env.dev
.env.test
.env.prod
.venv/
__pycache__/
*.pyc

# uv
.uv/

# Docker
docker-compose.override.yml

# IDE
.vscode/settings.json

# OS
.DS_Store

# Caches outils
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
